<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScheduX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScheduX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ScheduX.Properties.Settings>
            <setting name="ProgramPath" serializeAs="String">
                <value>C:\Program Files\ScheduX</value>
            </setting>
            <setting name="doc" serializeAs="String">
                <value>C:\Program Files\ScheduX\doc</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>/ScheduX;component/Resources/Images</value>
            </setting>
        </ScheduX.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ScheduX.Properties.Settings>
            <setting name="ProjectsPath" serializeAs="String">
                <value>C:\Users\Asus\ScheduXProjects</value>
            </setting>
        </ScheduX.Properties.Settings>
    </userSettings>
</configuration>